<div>
  <h2>Shortenings</h2>
  <input type="file" (change)="this.onFileSelected($event)">
  <button (click)="this.adminService.exportJson('shortenings.json')">Download Shortenings</button>
  <button (click)="this.uploadFile()">Upload Shortenings</button>
</div>

<div>
  <h2>Calls to action</h2>
  <input type="file" (change)="this.onFileSelected($event)">
  <button (click)="this.adminService.exportJson('calls-to-actions.json')">Download Calls to action</button>
  <button (click)="this.uploadFile()">Upload Calls to action</button>
</div>

<div>
  <h2>Templates</h2>
  <input type="file" (change)="this.onFileSelected($event)">
  <button (click)="this.adminService.exportJson('templates.json')">Download Templates</button>
  <button (click)="this.uploadFile()">Upload Templates</button>
</div>


<div>
  <h2>Verb markers</h2>
  <input type="file" (change)="this.onFileSelected($event)">
  <button (click)="this.adminService.exportJson('verb-markers.json')">Download verb markers</button>
  <button (click)="this.uploadFile()">Upload verb markers</button>
</div>

<div>
  <h2>Stopwords</h2>
  <input type="file" (change)="this.onFileSelected($event)">
  <button (click)="this.adminService.exportJson('stopwords.txt')">Download stopwords</button>
  <button (click)="this.uploadFile()">Upload stopwords</button>
</div>
