<div class="row" style="margin-top:1em;"><div class="col-sm-4">
  <div class="row">
    <h2>Shortenings</h2>
  </div>
  <div class="row">
    <input type="file" (change)="this.onFileSelected($event)">
  </div>
  <div class="row">
    <div class="col-sm">
    <button class="btn btn-primary" (click)="this.adminService.exportJson('shortenings.json')">Download Shortenings</button> <br>
    <button class="btn btn-primary" (click)="this.uploadFile()">Upload Shortenings</button>
    </div>
  </div>
</div>


<div class="col-sm-4">
  <div class="row">
    <h2>Calls to action</h2>
  </div>
  <div class="row">
    <input type="file" (change)="this.onFileSelected($event)">
  </div>
  <div class="row">
    <div clsas="col-sm">
      <button class="btn btn-primary" (click)="this.adminService.exportJson('calls-to-actions.json')">Download Calls to action</button> <br>
    <button class="btn btn-primary" (click)="this.uploadFile()">Upload Calls to action</button>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="row">
    <h2>Templates</h2>
  </div>
  <div class="row">
    <input type="file" (change)="this.onFileSelected($event)">
  </div>
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-primary" (click)="this.adminService.exportJson('templates.json')">Download Templates</button><br>
      <button class="btn btn-primary" (click)="this.uploadFile()">Upload Templates</button>
    </div>
  </div>
</div></div>

<div class="row" style="margin-top:1em;"><div class="col-sm-4">
  <div class="row">
    <h2>Verb markers</h2>
  </div>
  <div class="row">
    <input type="file" (change)="this.onFileSelected($event)">
  </div>
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-primary" (click)="this.adminService.exportJson('verb-markers.json')">Download verb markers</button><br>
      <button class="btn btn-primary" (click)="this.uploadFile()">Upload verb markers</button>
    </div>
  </div>
</div>


<div class="col-sm-4">
  <div class="row">
    <h2>Stopwords</h2>
  </div>
  <div class="row">
    <input type="file" (change)="this.onFileSelected($event)">
  </div>
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-primary" (click)="this.adminService.exportJson('stopwords.txt')">Download stopwords</button><br>
      <button class="btn btn-primary" (click)="this.uploadFile()">Upload stopwords</button>
    </div>
  </div>
</div></div>

