<div class="row" style="text-align:center;">
<div class="row">
  <div class="col-sm-10" style="margin-left: 1em">
    <h1>Home Page</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-10" style="margin: 1em;">
    <button [routerLink]="['/login']" type="button" class="btn btn-primary"
          tooltip="Click to login">
      Login
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-10" style="margin: 1em;">
  <button [routerLink]="['/register']" type="button" class="btn btn-primary"
          tooltip="Click to register">
    Register
  </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-10" style="margin: 1em;">
    <button type="button" class="btn btn-secondary"
          tooltip="Click to logout" (click)="this.logout.onLogout()">
      Logout
    </button>
  </div>
</div>
</div>
