<div>
  <li *ngFor="let hashtag of generatedHashtags; index as i ">
    <span>{{ this.getHashtag(i) }} - {{ this.getHashtagScore(i) }}</span>
  </li>
</div>

<div>
  <div *ngFor="let tweet of generatedTweets; index as i">
    <span>{{tweet.post}}</span><br>
    <span>Score: {{tweet.score}}</span>
    <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet"
      data-size="large"
      data-text="custom share text"
      data-url="https://dev.twitter.com/web/tweet-button"
      data-hashtags="example,demo"
      target="_blank">
      Tweet
    </a>
  </div>
</div>
