<h3 *ngIf="this.generatedHashtags">Suggested Hashtags:</h3>
<div class="row" style="margin: 0em 0em 1em 0em; text-align: center;">
    <div class="col-xl" *ngFor="let hashtag of generatedHashtags; index as i ">
    <li>
        <span><b>#{{ this.getHashtag(i) }}</b><br> score: {{ this.getHashtagScore(i) }}</span>
    </li>
  </div>
</div>

<h3 *ngIf="this.generatedTweets">Suggested Tweets:</h3>
<div class="row" style="margin-left: 5px; justify-content: center;">
  <div class="col-sm-3 tweet" style="max-width: 80%; max-height: 100%; margin-bottom: 1em;" *ngFor="let tweet of generatedTweets; index as i">
    <span style="max-width: 100%;">{{tweet.post}}</span><br>
    <span style="color:darkblue;"><b>Score:</b> {{tweet.score}}</span><br>
  </div>
</div>


<!--
<a class="twitter-share-button"
href="https://twitter.com/intent/tweet"
data-size="large"
data-text="custom share text"
data-url="https://dev.twitter.com/web/tweet-button"
data-hashtags="example,demo"
target="_blank">
Tweet
</a>
-->

