.tweet {
  position: absolute;
  top: 10%;
  left: 42%;
}

.hashtag {
  background-color: aliceblue;
  border: 1px solid blue;
  border-radius: 50%;
}

textarea {
  border: none;
  border-radius: 5%;
  overflow: auto;
  outline: none;
  background-color: aliceblue;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  max-height: 150px;
  min-height: 150px;
  margin: 5px;
  max-width: 95%;
  resize:none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
