<div style="text-align: center">
  <div class="row">
    <div class="col-sm-11">
      <h1>Login</h1>
    </div>
  </div>
<form [formGroup]="profileForm">
  <div class="row">
    <div class="col-sm-11" style="margin: 1em;">
      <label for="username">Username: </label>
      <input aria-label="Default" aria-describedby="inputGroup-sizing-default" id="username" type="text" formControlName="username" style="margin-left: 1em;">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-11"></div>
  </div>

  <div class="row">
    <div class="col-sm-11" style="margin: 1em">
      <label for="password">Password: </label>
      <input aria-label="Default" aria-describedby="inputGroup-sizing-default" id="password" type="password" formControlName="password" style="margin-left: 1em;">
    </div>
  </div>

</form>

<div class="row">
  <div class="col-sm-11">
    <p *ngIf="this.errorMessage" style="color: red;">{{ errorMessage }}</p>
    <p>Complete the form to enable button.</p>
  </div>
</div>

  <div class="row">
    <div class="col-sm-11">
      <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid" (click)="onLogin()">Submit</button>
    </div>
  </div>

</div>


