<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet"
  data-size="large"
  data-text="custom share text"
  data-url="https://dev.twitter.com/web/tweet-button"
  data-hashtags="example,demo"
  target="_blank">
Tweet
</a>

<form [formGroup]="urlForm">

  <label for="url">Insert URL: </label>
  <input id="url" type="text" formControlName="url">

</form>

<h1>OR</h1>

<form [formGroup]="textForm">

  <label for="title">Insert title: </label>
  <input id="title" type="text" formControlName="title">

  <label for="text">Insert text: </label>
  <input id="text" type="text" formControlName="text">

</form>

<p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!urlForm.valid && textForm.valid" (click)="generateTweets()">Submit</button>

<tweets [generatedTweets]="generatedTweets" [generatedHashtags]="generatedHashtags"></tweets>
